img{
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}
.holder{
  width: 100px;
  max-height: 150px;
  min-height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label{
  text-shadow: 2px solid black;
  color: white;
}
.holder:hover{
  background-color: rgba(255, 255, 255, 0.185);
}
